<a href="https://colab.research.google.com/github/sundaybest3/Practice_F2024/blob/main/L4_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# An example of an integer
age = 25
print("Age:", age)

Age: 25

In [2]:
# An example of a float
average_score = 82.5
print("Average Score:", average_score)

Average Score: 82.5

In [3]:
# An example of a string
name = input()  # A pop-up box will appear and wait for your input. Type a name.
print("Hello, %s!"%name)  # % operator: The % operator is used for string formatting. It links the string "Hello, %s!" with the variable name to replace the %s placeholder.

Ana
Hello, Ana!

In [4]:
# An example of a string
name = input()  # A pop-up box will appear and wait for your input. Type a name.
print(f"Hello, {name}!)

SyntaxError: unterminated string literal (detected at line 3) (<ipython-input-4-4c9faaa8384d>, line 3)

In [5]:
mytext = """
Long long time ago, there lived a lion called Lezzi.
One day, ....
"""
print(mytext)

Long long time ago, there lived a lion called Lezzi.
One day, ....

In [6]:
# An example of a list
favorite_books = ["To Kill a Mockingbird", "1984", "The Great Gatsby"]
print("Favorite Books:", favorite_books)

Favorite Books: ['To Kill a Mockingbird', '1984', 'The Great Gatsby']

In [7]:
# An example of a dictionary
student_grades = {"Alice": 90, "Bob": 85, "Charlie": 95}
print("Student Grades:", student_grades)

Student Grades: {'Alice': 90, 'Bob': 85, 'Charlie': 95}

In [8]:
# Return Alice's grade
student_grades['Alice']

90

In [9]:
# An example of a tuple
months_of_the_year = ("January", "February", "March", "April")
print("Months of the Year:", months_of_the_year)

Months of the Year: ('January', 'February', 'March', 'April')